.env
photos-local-dev/
debug/
tunnel.sh

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.project
.classpath
.settings/
*.iml

# macOS
.DS_Store
.AppleDouble
.LSOverrideIcon
._*
.Spotlight-V100
.Trashes
